@font-face {
    font-family: Spartwell;
    src: url('Spartwell.otf');
}

@font-face {
    font-family: 'NotoSans';
    src: url('NotoSansJP-Light.otf');
}

@font-face {
    font-family: LinLibertine;
    src: url('LinLibertine_R.ttf');
}

@keyframes test {
    0% { width: 0px; margin: 105px;}
    90% { width: 310px; margin: 0px;}
    100% {width: 300px; margin: 5px;}
}

body {
    background-color: rgb(43, 43, 43);
    background: linear-gradient(#2b2b2b 35%, #006467 100%);
    min-height: 100vh;
    color: rgb(255, 203, 107);
    font-size: larger;
    font-family: 'NotoSans';
}

span {
    width: 100px !important;
    height: 75px;
}

.profile {
    width: 300px;
    float: right;
    border-radius: 50%;
    border: 2px solid black;
    animation-name: test;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin: 5px;
    filter: sepia(60%)
}

h1 {
    font-family: 'Spartwell';
    font-size: 10vw;
    text-align: center;
    color: #f0a248;
    text-shadow: 2px 2px coral;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2.section {
    font-family: 'NotoSans';
    font-size: 3vw;
    text-align: center;
    color: #48c9f0;
}
.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

.subtext {
    color: rgb(245, 236, 219);
    text-align: justify;
    margin-left: 10vw;
    font-size: 1.5vw;
}

.welcome {
    font-family: 'Spartwell';

}
.welcome-header {
    color: #488bf0;
    text-shadow: 2px 2px coral;
    text-align: left;
    font-size: 5vw;
    margin-bottom: 0px;
}

.text {
    font-size: 2vw;
    color: whitesmoke;
    margin-bottom: 205px;
}

.section {
    display: block;
    margin-top: 150px;
}

.section-header{
    color: #488bf0;
    font-family: 'NotoSans';
}

.subsection {
    display: inline-block;
    vertical-align: top;
    max-width: 40%;
    padding: 5%;
    padding-left: 0%;
}

.subsection-header {
    color: rgb(248, 231, 74);
}

.sml-nxt {
    margin-bottom: 0px;
}

.small {
    margin-bottom: 1em;
    font-size: smaller;
}

.bookmark {
    float: left;
    position: relative;
    margin: 5px;
    margin-top: 0px;
    top: -12px;
    width: 0px;
    height: 80px;
    border: solid 30px rgb(165, 34, 177);
    border-bottom: solid 15px transparent;
    transition: height 0.5s;
}

.bookmark:hover {
    height: 100px;
}

.bookmark-text {
    position: absolute;
    left: -50px;
    top: 10px;
    transform: rotate(90deg);
    font-size: medium;
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: rgb(255, 218, 148);
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0px;
    }
    h1 {
        font-size: 20vw;
    }

    .subtext {
        font-size: 5vw;
    }

    .welcome-header {
        font-size: larger;
    }

    .text {
        font-size: larger;
    }

    @keyframes test {
        0% { width: 0px; margin: 55px;}
        90% { width: 60px; margin: 0px;}
        100% {width: 50px; margin: 5px;}
    }

    img {
        width: 90vw;
        border-radius: 50%;
        border: 2px solid black;
        animation-name: test;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        margin: 5px;
    }

}